/.env
/credentials
/envForProduction
/nodemon.json
/node_modules
/package-lock.json
public/table.html
# Ignore all files in uploads and questions-image
/uploads/*
/questions-image/*

# But keep the .gitkeep placeholders
!/uploads/.gitkeep
!/questions-image/.gitkeep
!/uploads/no-image.png

envForPreview
questions-image