<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error - Something Went Wrong</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
  <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
  <div class="container">
    <div class="error-box">
      <img src="https://cdn-icons-png.flaticon.com/512/880/880548.png" alt="Error" class="error-img" />
      <h1>Oops! Something went wrong</h1>
      <p>We're experiencing a technical issue. Please try again later.</p>
      <p class="developer-msg">If you're a developer, check the logs for more info. This could be a server-side or network error.</p>
      <a href="/" class="btn">Back to Home</a>
    </div>
  </div>
</body>
</html>
