  :root {
      --font-family: "Poppins", sans-serif;
      --bg-gradient-start: #e0f7fa;
      --bg-gradient-end: #ffe0b2;
      --container-bg: rgba(255, 255, 255, 0.9);
      --container-backdrop-blur: 10px;
      --border-radius: 10px;
      --box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      --input-border-color: rgba(0, 0, 0, 0.2);
      --input-focus-border-color: #80deea;
      --submit-btn-bg: #18024b;
      --submit-btn-hover-bg: rgba(26, 1, 97, 0.9);
      ;
      --link-color: #18024b;
      --link-hover-color: rgba(26, 1, 97, 0.9);
      ;
      --text-color: #333333;
  }



  .container-custom-wallet {
      background: var(--container-bg);
      backdrop-filter: blur(var(--container-backdrop-blur));
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      padding: 2rem 3rem;
      text-align: center;
  }

  .wallet-balance {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 700;
  }

  .label {
      font-size: 1rem;
      color: #555;
      margin-bottom: 2rem;
      display: block;
  }

  #getPaidBtn {
      background-color: var(--submit-btn-bg);
      border: none;
      border-radius: var(--border-radius);
      padding: 0.75rem 1.5rem;
      font-size: 1.1rem;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  #getPaidBtn:hover {
      background-color: var(--submit-btn-hover-bg);
  }

  .spinner {
      width: 16px;
      height: 16px;
      border: 2px solid #fff;
      border-top: 2px solid #000;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
      display: inline-block;
      vertical-align: middle;
  }

  #popup-ok-btn-get-paid {
      background-color: var(--blue);
      color: white;
      font-family: var(--h2-heading-font-family);
      font-size: 16px;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s ease;
  }

  @keyframes spin {
      to {
          transform: rotate(360deg);
      }
  }